body{
background-image:url('/bright.png');
}

.lanechooser a{
  float:left;	
  margin-left:10%;
  font-family:Arial, Helvetica, sans-serif;
  font-size:18px;
  text-decoration:none;
  cursor:pointer;
}

input#username{
  border-radius:7px;
  padding:5px;
  margin-left:30%;
}

#modal2 .modal-body{
  min-height: 350px;
}

#userslist{
  min-height: 350px;
  z-index: 1070;
  background: white;
width: 150px;
height: 70%;
position: absolute;
right: -30%;
top: 0%;
border-radius: 5px;
box-shadow: 1px 1px 15px #ccc;

}

{
array:[];

}

[mid,mid,top,jungle]

[{
  top: top;
  top: jungle;
  top: player;
  top: player;
  top: player;

  },

{},

]

